table(class="table table-hover")
  thead
    tr
      th Name
      th Type
      th Contractor
      th Created
      th Fulfilled
      th Fulfillment Date
  tbody
    tr(ng-repeat="contract in contracts")
      td 
        a(ng-href="/#/contracts/{{contract._id}}") {{contract.name}}
      td {{contract.type}}
      td {{contract.contractor}}
      td {{contract.created_at}}
      td {{contract.fulfilled}}
      td {{contract.fulfillment_date}}